.author {
  &__inner {
    padding: 48px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__avatar {
    width: 100px;
    margin-bottom: 15px;

    & img {
      object-fit: cover;
    }
  }

  &__supporters {
    margin-bottom: 40px;
    display: flex;
    align-items: center;

    & span {
      margin-left: 8px;
    }
  }
}

@media (max-width: $tablet-viewport-width) {
  .author {
    &__inner {
      padding: 20px 0;
      border-bottom: 1px solid #cfcfcf;
    }

    &__supporters {
      margin-bottom: 30px;
    }
  }
}
