.comments {
  &__inner {
    padding: 30px 0 30px;
  }

  &__item {
    margin-bottom: 30px;
  }
}

.comment-item {
  display: flex;

  &__body {
    width: 100%;
    margin-left: 15px;
  }

  &__replies {
    margin-top: 20px;
    display: none;

    &.active {
      display: block;
    }

    & li:last-child {
      margin-bottom: 0;
    }
  }

  &__number {
    color: var(--color-grey-black);
    margin-left: 15px;
  }

  &__avatar {
    max-width: 48px;
    flex: 1 0 auto;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__actions {
    display: flex;

    & button {
      display: flex;
      align-items: center;
      margin-left: 20px;
      display: none;

      &.active {
        display: flex;
      }

      &:first-child {
        margin-left: 0;
      }

      & span {
        color: var(--color-black);
        margin-left: 4px;
        width: 25px;
        text-align: left;
      }
    }
  }
}

.comments-sender {
  display: flex;
  display: none;

  &.active {
    display: flex;
  }

  &__avatar {
    max-width: 48px;
    flex: 1 0 auto;
  }

  &__field {
    margin-bottom: 15px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    width: 100%;
  }

  &__actions {
    display: flex;

    & button {
      margin-left: 5px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__button {
    align-self: flex-start;

    display: none;

    &.active {
      display: block;
    }
  }
}

@media (max-width: $tablet-viewport-width) {
  .comments {
    &__inner {
      padding: 30px 0 10px;
      border-bottom: 1px solid #cfcfcf;
    }
  }
}
