.nav {
  background-color: var(--color-white);
  padding: 90px 30px 30px 30px;
  box-shadow: -1px 2px 10px rgba(0, 0, 0, 0.05);

  &__title {
    margin-bottom: 15px;
  }

  &__item {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: flex;
    padding: 5px;
  }
}
