.welcome {
  & .container {
    max-width: 760px;
  }

  &__inner {
    padding: 50px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__back {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    img {
      width: 12px;
    }

    & span {
      margin-left: 12px;
      font-weight: 500;
    }
  }

  &__badge {
    display: flex;
    align-items: center;
    background-color: var(--color-grey);
    padding: 10px 15px;
    border-radius: 8px;
    margin-bottom: 24px;

    & img {
      width: 15px;
    }

    & span {
      margin-left: 8px;
      font-weight: 500;
      font-size: 14px;
    }
  }

  &__title {
    margin-bottom: 0px;
  }

  &__date {
    color: var(--color-grey-black);
    font-weight: 500;
  }
}

.post {
  & .container {
    max-width: 760px;
  }

  &__inner {
    padding: 30px 0 30px;
    border-bottom: 1px solid #cfcfcf;
  }

  &__comment {
    & span {
      display: flex;
      width: 25px;
    }
  }

  &__article {
    display: flex;
    flex-direction: column;

    & p {
      margin-bottom: 30px;
    }

    & .image-container {
      width: 100%;
      position: relative;
      padding-top: calc((141 / 190) * 100%);
      margin-bottom: 30px;

      & img {
        margin-bottom: 30px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__actions {
    display: flex;

    & button {
      display: flex;
      align-items: center;
      margin-left: 25px;

      & img {
        width: 22px;
      }

      & span {
        margin-left: 5px;
        color: var(--color-black);
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

@media (max-width: $tablet-viewport-width) {
  .welcome {
    &__inner {
      padding: 20px 0 20px;
    }

    &__header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    &__back {
      margin: 0 0 0 0;

      & span {
        margin-left: 5px;
        font-size: 12px;
      }
    }

    &__badge {
      margin: 0 0 0 20px;
    }
  }

  .post {
    &__inner {
      padding: 20px 0 20px;
    }

    &__article {
      & p {
        margin-bottom: 20px;
      }

      & .image-container {
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: $mobile-viewport-width) {
}
