.recents-post {
  &__inner {
    padding: 30px 0;
  }

  &__title {
    & .title {
      &__main {
        font-weight: 500;
      }
    }
  }
}

.recents-post-item {
  padding: 15px 0;
  border-bottom: 1px solid #e6e6e6;

  &__link {
    display: flex;
    align-items: flex-start;
  }

  &__title {
    & .title {
      &__main {
        font-weight: 500;
      }
    }
  }

  &__date {
    color: var(--color-grey-black);
    font-size: 14px;
  }

  &__image {
    max-width: 56px;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    display: flex;
    margin-right: 15px;
  }

  &__info {
  }
}

@media (max-width: $tablet-viewport-width) {
  .recents-post {
    &__inner {
      padding: 20px 0;
    }
  }
}
