.title {
  &--large {
    .title {
      &__main {
        font-size: 32px;
        margin-bottom: 15px;
      }
    }
  }

  &--normal {
    .title {
      &__main {
        font-size: 24px;
        margin-bottom: 10px;
      }
    }
  }

  &--small {
    .title {
      &__main {
        font-size: 20px;
        margin-bottom: 5px;
      }
    }
  }

  &--x-small {
    .title {
      &__main {
        font-size: 16px;
        margin-bottom: 3px;
      }
    }
  }

  &__main {
    font-size: 24px;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 10px;
  }
}
